@model WebApplicationTFI.Models.Utente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background:whitesmoke">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/Images/Logo-Fondazione-Enpaia.jpg" style="width:250px;height:120px" />
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body" style="background:#0c773c">
                <center>
                    <img src="~/Images/user.png" />
                </center>
                <hr style="border: 3px solid grey;background:grey" />
                <h3 class="login-box-msg" style="color:white;padding:0">Accedi</h3>
                <hr style="border: 3px solid grey;background:grey" />
                <select asp-for="DropLogin" required="required" class="form-control" id="DropLogin" name="DropLogin">
                    <option selected>--Seleziona--</option>
                    <option name="AD" value="AD">Admin</option>
                    <option name="E" value="E">Amministrativo</option>
                    <option name="A" value="A">Azienda</option>
                    <option name="C" value="C">Consulente</option>
                    <option name="I" value="I">Iscritto</option>
                </select>
                <br />
                <form id="form_login" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="Login" asp-for="Login" class="form-control" id="Login" placeholder="Codice Fiscale">

                        <div class="input-group-append" style="background: white">
                            <div class="input-group-text">
                                <span class="fa fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="Password" asp-for="Password" id="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append" style="background:white">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <hr style="border: 3px solid grey;background: grey" />
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-dark">
                                <input type="checkbox" id="remember">
                                <label for="remember" style="color:white">
                                    Ricordami
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-light btn-block">Login</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br />

                @if (ViewBag.Visibility == true)
                {
                    <div id="divErrore" style="text-align:center;color:red; background:white;padding:5px;font-weight:800;" runat="server">@ViewBag.ErrorMessage</div>

                }
                <br />


                <p class="mb-1">
                    <a href="forgot-password.html" style="color:white">Rigenerazione Password Aziende </a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center" style="color:white">Rigenerazione Password Iscritti</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

    <script>
        $(document).on("change", "#DropLogin", function () {
            var value = $(this).val();
            if (value === "I") {
                $("#Login").prop("placeholder", "Codice Fiscale");
            }
            else if (value === "A" || value === "C") {
                $("#Login").prop("placeholder", "Partita IVA");
            }
            else if (value === "AD" || value === "E") {
                $("#Login").prop("placeholder", "Username");
            }
        });
       
    </script>
   <script>
       $('[id$=DropLogin]').change(function () {
           var selectedOption = $("#DropLogin option:selected").val();
           $("<input />", { type: 'hidden', name: 'idLogin' }).val(selectedOption).appendTo("form");
       });
   </script>
</body>
</html>
