
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<div class="card card-default">
    <div style="background-color: #0c773c" class="card-header">
        <h3 style="color:white;text-align:center;width:100%;font-size:20px" class="card-title">Dati Matricola</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Cognome</label>
                    <input type="text" class="form-control" value="Rossi" disabled>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" value="Mario" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Codice fiscale</label>
                    <input type="text" class="form-control" value="RSSMRA71E05H501Q" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-default">
        <center><a href="https://www.enpaia.it/privacy-policy/" target="_blank"><p style="font-size:15px;padding-top:15px;width:300px">Visualizza l'informativa sulla privacy</p></a></center>
</div>
<div class="card card-default">
    <div style="background-color: lightgray;" class="card-header">
        <h3 style="color:black;text-align:center;width:100%;font-size:15px;width:100%;font-weight:600;">Esecuzione di obblighi di legge connessi all'espletamento delle funzioni istituzionali della Fondazione Enpaia</h3>
    </div>
    <div class="card-body">
        <center>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                <label for="customCheckbox1" class="custom-control-label">Accetto</label>
            </div>
        </center>
    </div>
</div>
<div class="card card-default">
    <div style="background-color: lightgray;" class="card-header">
        <h3 style="color:black;text-align:center;width:100%;font-size:15px; font-weight:600;">Informazione sull'attività svolta e sui servizi esistenti e futuri erogati dalla Fondazione ENPAIA e/o da soggetti terzi che erogano servizi complementari, mediante l'invio tramite mailing postale e cartaceo di materiali e pubblicazioni della Fondazione e/o dei predetti soggetti terzi</h3>
    </div>
    <div class="card-body">
        <center>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option2">
                <label for="customCheckbox2" class="custom-control-label">Accetto</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option3">
                <label for="customCheckbox3" class="custom-control-label">Non accetto</label>
            </div>
        </center>
    </div>
</div>
<center><input type="submit" class="btn" value="Salva" style="background-color:#0c773c;color:white;font-size:20px" /></center>

