
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<div class="card card-default">
    <div style="background-color: #0c773c" class="card-header">
        <h3 style="color:white;text-align:center;width:100%;font-size:20px" class="card-title">Dati Matricola</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Cognome</label>
                    <input type="text" class="form-control" value="Rossi" disabled>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" value="Mario" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Codice fiscale</label>
                    <input type="text" class="form-control" value="RSSMRA71E05H501Q" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
<center><a href="https://www.enpaia.it/privacy-policy/"><p style="font-size:15px">Visualizza l'informativa sulla privacy</p></a></center>
<div style="background-color: #0c773c">
    <h3 style="color:white;text-align:center;width:100%;font-size:15px; font-weight:600; padding:5px">1. Esecuzione di obblighi di legge connessi all'espletamento delle funzioni istituzionali della Fondazione Enpaia</h3>
</div>
<div>
<center><input type="checkbox" /><label style="font-weight:600">&nbsp;Accetto</label></center>
    </div>
<div style="background-color: #0c773c">
    <h3 style="color:white;text-align:center;width:100%;font-size:15px; font-weight:600; padding:5px">2. Informazione sull'attività svolta e sui servizi esistenti e futuri erogati dalla Fondazione ENPAIA e/o da soggetti terzi che erogano servizi complementari, mediante l'invio tramite mailing postale e cartaceo di materiali e pubblicazioni della Fondazione e/o dei predetti soggetti terzi</h3>
</div>
<div>
    <center><input type="checkbox" /><label style="font-weight:600">&nbsp;Accetto</label>&emsp;<input type="checkbox" /><label style="font-weight:600">&nbsp;Non accetto</label></center>
</div>
<center><input type="submit" class="btn" value="Salva" style="background-color:#0c773c;color:white;font-size:20px" /></center>



