
@{
    ViewBag.Title = "RichiestaContoIndividuale";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<div class="card">
    <div style="background-color:#0c773c;color:white;text-align:center;font-size:25px" class="card-header">Richiesta Pagamento Conto Individuale Iscritto</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                    <label>Matricola: 00045678</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Cognome: Rossi</label>
            </div>
            <div class="col-sm-3">
                    <label>Nome: Mario</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Codice Fiscale: RSSMRA71E05H501Q</label>
            </div>
            <div class="col-sm-3">
                    <label>Data Nascita: 20/03/1965</label>
            </div>
            <div class="col-sm-3">
                    <label>Sesso: M</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Comune Nascita: Roma</label>
            </div>
            <div class="col-sm-3">
                    <label>Provincia Nascita: RM</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Stato Estero Nascita: Italia</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Indirizzo: Via Milano 23</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Comune: Roma</label>
            </div>
            <div class="col-sm-3">
                    <label>CAP: 00132</label>
            </div>
            <div class="col-sm-3">
                    <label>Provincia: RM</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Località: Roma</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Stato Estero: Italia</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Telefono: 064523954</label>
            </div>
            <div class="col-sm-3">
                    <label>Telefono2: 069432123</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Cellulare: 3477480756</label>
            </div>
            <div class="col-sm-3">
                    <label>Fax: 069432123</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <label>Email: rossi.mario@gmail.com</label>
            </div>
            <div class="col-sm-3">
                    <label>PEC: rossi.mario@pec.it</label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Data chiusura rapporto assicurativo con ENPAIA</label>
                    <input type="date" class="form-control" placeholder="Inserire Data Chiusura Rapporto">
                </div>
            </div>
        </div>
        <center><p style="font-size:20px"><strong>Modalità di Pagamento FP</strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Bonifico Bancario</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>IBAN</label>
                    <input type="text" class="form-control" placeholder="Inserire IBAN">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>BIC/SWIFT</label>
                    <input type="text" class="form-control" placeholder="Inserire BIC/SWIFT">
                    <p>(Solo per bonifici esteri)</p>
                </div>
            </div>
        </div>
        <br />
        <center><p style="font-size:20px"><strong>Modalità di Pagamento TFR </strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Assegno di Traenza(per importi fino a 3000euro)</label>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-outline-success btn-lg">Salva</button>
        </div>
    </div>
</div>


