
@{
    ViewBag.Title = "RichiestaTFR";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .cancelBtn {
        visibility: hidden;
    }

        .cancelBtn::after {
            content: 'Esci';
            visibility: visible;
            background-color: #0c773c;
            color: white;
            border: 1px solid black;
            padding: 5px 10px 5px 10px;
        }

    .applyBtn {
        visibility: hidden;
    }

        .applyBtn::after {
            content: 'Applica';
            background-color: #0c773c;
            color: white;
            width: 10px;
            visibility: visible;
            padding: 5px 10px 5px 10px;
        }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #0c773c;
    }

    .table th {
        text-align: right;
        vertical-align: middle;
    }

    .table td {
        text-align: center;
        vertical-align: middle;
    }

    .table label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 100;
    }

    .table tr {
        height: 60px;
    }
</style>

<div class="card">
    <div style="background-color:#0c773c;color:white;text-align:center;font-weight:600;font-size:20px" class="card-header">Richiesta Pagamento TFR Iscritto</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <table id="tblRDL" class="table table-bordered">

                    <tr>
                        <th>Matricola</th>
                        <td><label>0123456</label></td>
                    </tr>
                    <tr>
                        <th>Cognome</th>
                        <td><label>Rossi</label></td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td><label>Mario</label></td>
                    </tr>
                    <tr>
                        <th>Codice Fiscale</th>
                        <td><label>NSTNCL58R23H3401</label></td>
                    </tr>
                    <tr>
                        <th>Sesso</th>
                        <td><label>M</label></td>
                    </tr>
                    <tr>
                        <th>Indirizzo</th>
                        <td><label>Via Milano 1</label></td>
                    </tr>
                    <tr>
                        <th>Comune</th>
                        <td><label>Roma</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table id="tblRDL1" class="table table-bordered ">
                    <tr>
                        <th>Data di nascita</th>
                        <td><label>20/03/1965</label></td>
                    </tr>

                    <tr>
                        <th>Comune di nascita</th>
                        <td><label>Roma</label></td>
                    </tr>
                    <tr>
                        <th>Provincia di nascita</th>
                        <td><label>RM</label></td>
                    </tr>
                    <tr>
                        <th>Stato Est. Nascita</th>
                        <td><label>Italia</label></td>
                    </tr>

                    <tr>
                        <th>CAP</th>
                        <td><label>00132</label></td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td><label>RM</label></td>
                    </tr>
                    <tr>
                        <th>Stato Estero</th>
                        <td><label>Italia</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table id="tblRDL2" class="table table-bordered ">
                    <tr>
                        <th>Località</th>
                        <td><label>Roma</label></td>
                    </tr>

                    <tr>
                        <th>Telefono</th>
                        <td><label>064523954</label></td>
                    </tr>
                    <tr>
                        <th>Telefono2</th>
                        <td><label>069432123</label></td>
                    </tr>
                    <tr>
                        <th>Cellulare</th>
                        <td><label>3477480756</label></td>
                    </tr>

                    <tr>
                        <th>Fax</th>
                        <td><label>069432123</label></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><label>rossi.mario@gmail.com</label></td>
                    </tr>
                    <tr>
                        <th>PEC</th>
                        <td><label>rossi.mario@pec.it</label></td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />
        <hr />
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Data chiusura rapporto assicurativo con ENPAIA</label>
                    <input type="date" class="form-control" placeholder="Inserire Data Chiusura Rapporto">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Periodo Accantonamento TFR Presso:</label>
                    <select class="form-control">
                        <option selected></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Periodo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background:#0c773c;color:white">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation">
                    </div>
                </div>
            </div>
        </div>
        <center><p style="font-size:20px"><strong>Modalità di Pagamento FP</strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Bonifico Bancario</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>IBAN</label>
                    <input type="text" class="form-control" placeholder="Inserire IBAN">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>BIC/SWIFT</label>
                    <input type="text" class="form-control" placeholder="Inserire BIC/SWIFT">
                    <p>(Solo per bonifici esteri)</p>
                </div>
            </div>
        </div>
        <br />
        <center><p style="font-size:20px"><strong>Modalità di Pagamento TFR </strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Assegno di Traenza(per importi fino a 3000euro)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <strong>Il Dipendente dichiara di aver fruito <input type="checkbox" />&emsp;di non aver fruito<input type="checkbox" />(barrare la casella interessata) nel corso del corrente anno della detrazione di imposta prevista dal DM 20 Marzo 2008 a favore dei percettori di Trattamento di Fine Rapporto con data cessazione del rapporto di lavoro successiva al 30 Marzo 2008. </strong>

            </div>
        </div>
        <br />
        <div class="row justify-content-end">
            <div class="col-sm-2">
                <button type="button" class="btn btn-block btn-outline-success btn-lg">Invia richiesta</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Date range picker
        $('#reservation').daterangepicker();
    })</script>


