@{
    ViewBag.Title = "Anagrafica Iscritto";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Anagrafica Iscritto</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Matricola</label>
                    <input type="text" class="form-control" value="00045678" placeholder="Inserire Matricola" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Cognome</label>
                    <input type="text" class="form-control" value="Rossi" placeholder="Inserire Cognome" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" value="Mario" placeholder="Inserire Nome" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Codice Fiscale</label>
                    <input type="text" class="form-control" value="RSSMRA71E05H501Q" placeholder="Inserire Codice Fiscale" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Data Nascita</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="05/05/1971" data-target="#reservationdate" disabled>
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Sesso</label>
                    <select class="form-control" disabled="">
                        <option selected>M</option>
                        <option>F</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Comune</label>
                    <input type="text" class="form-control" value="Roma" placeholder="Inserire Comune" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Provincia</label>
                    <input type="text" class="form-control" value="RM" placeholder="Inserire Provincia" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Stato Estero</label>
                    <input type="text" class="form-control" placeholder="Inserire Stato Estero" disabled>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Titolo di Studio</label>
                    <select class="form-control">
                        <option>Licenza Media</option>
                        <option selected>DIPLOMA</option>
                        <option>LAUREA</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Indirizzo di Residenza</label>
                    <select class="form-control">
                        <option selected>Via</option>
                        <option>Viale</option>
                        <option>Piazza</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="text" class="form-control" value="dei Gracchi" placeholder="Inserire indirizzo">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Civico</label>
                    <input type="text" class="form-control" value="6" placeholder="Inserire il civico">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Comune</label>
                    <input type="text" class="form-control" value="Roma" placeholder="Inserire Comune">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Cap</label>
                    <input type="text" class="form-control" value="00100" placeholder="Inserire Cap">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Provincia</label>
                    <input type="text" class="form-control" placeholder="Inserire la Provincia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Località</label>
                    <input type="text" class="form-control" value="Roma" placeholder="Inserire la Località">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Stato Estero</label>
                    <input type="text" class="form-control" value="" placeholder="Inserire lo Stato Estero">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>C/O</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Telefono</label>
                    <input type="text" class="form-control" value="Roma" placeholder="Inserire Telefono">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Telefono 2</label>
                    <input type="text" class="form-control" value="" placeholder="Inserire Telefono2">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Cellulare</label>
                    <input type="text" class="form-control" placeholder="Inserire il Cellulare">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" value="Roma" placeholder="Inserire Email">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Posta Elettronica Certificata</label>
                    <input type="text" class="form-control" value="" placeholder="Inserire la PEC">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Fax</label>
                    <input type="text" class="form-control" placeholder="Inserire il Fax">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Iban</label>
                    <input type="text" class="form-control" placeholder="Inserire il Iban">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Codice Bic/Swift</label>
                    <input type="text" class="form-control" placeholder="Inserire il Codice Bic/Swift">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn" style="background-color:#0c773c;color:white;width:100%;font-size:20px">Modifica</button>
            </div>
        </div>

        </div>
</div>