@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

		

<section id="xs-sec-82cba4f7" class="fw-main-row   xs-sc-82cba4f7   ">
    <div class="xs-main-overlay"></div>

    <div class="fw-container">
        <div class="fw-row">
            <div class="fw-col-inner">
                <div id="xs-col-be9119bd" class="fw-col-md-12     xs-sc-be9119bd    ">
                    <div class="fw-main-row">
                        <div class="fw-col-inner">
                            <div class="xs-text-block  xs-text-block-1cd39c2b">
                                <p><div id="ultimoAggiornamento">Data di ultimo aggiornamento: 9 Marzo 2020</div></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fw-row">
                <div class="fw-col-inner">
                    <div id="xs-col-74e9facb" class="fw-col-md-4     xs-sc-74e9facb    ">
                        <div class="fw-main-row">
                            <div class="fw-col-inner">
                                <div class="xs-text-block  xs-text-block-5aef2a9a">
                                    <h3>Dove Siamo</h3><p>Viale Beethoven 48, 00144 Roma<br />Apertura Uffici Lun/Giov dalle 08.00 alle 16.00<br />Apertura Uffici Venerdì dalle 08.00 alle 13.00<br />Tel. 06 54581</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fw-col-inner">
                        <div id="xs-col-4e434d9a" class="fw-col-md-4     xs-sc-4e434d9a    ">
                            <div class="fw-main-row">
                                <div class="fw-col-inner">
                                    <div class="xs-text-block  xs-text-block-cfb260a1">
                                        <h3>Call Center</h3><p>Lun/Giov 09:00 - 16:00<br />Ven. 09:00 - 13:00<br /><span style="color: #008000;"><strong>800 24 26 24</strong></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fw-col-inner">
                            <div id="xs-col-e407cb66" class="fw-col-md-4     xs-sc-e407cb66    ">
                                <div class="fw-main-row">
                                    <div class="fw-col-inner">
                                        <div class="xs-text-block  xs-text-block-54beeea7">
                                            <h3 class="ts-contact-title">Scrivici</h3><p><strong>E-mail:</strong> info@enpaia.it<br /><strong>PEC:</strong> info@pec.enpaia.it<br /><strong>Protezione Dati:</strong> dpo@enpaia.it<br /><strong>Segnalazione violazione dati personali:</strong> databreach@enpaia.it - <a href="https://www.enpaia.it/wp-content/uploads/2019/03/modulo-data-breach-1.pdf" target="_blank" rel="noopener">Modulo segnalazione</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="heading  xs-heading-fa184abf text-center  heading_margin">
    <h3 data-title="Contattaci" class='xs-title section-title-dash'> Inviaci un messaggio  <span class='dashborder'>&nbsp;</span></h3>
</div>
<div id="CF5cb09c92502c0_1-row-1" class="row  first_row">
    <div class="col-sm-12  single">
        <div data-field-wrapper="fld_8768091" class="form-group" id="fld_8768091_1-wrap">
            <label id="fld_8768091Label" for="fld_8768091_1" class="control-label screen-reader-text sr-only">Nome completo</label>
            <div class="">
                <input placeholder="Nome completo" required type="text" data-field="fld_8768091" class=" form-control" id="fld_8768091_1" name="fld_8768091" value="" data-type="text" aria-required="true" aria-labelledby="fld_8768091Label">
            </div>
        </div>
        <div data-field-wrapper="fld_9970286" class="form-group" id="fld_9970286_1-wrap">
            <label id="fld_9970286Label" for="fld_9970286_1" class="control-label screen-reader-text sr-only">Codice fiscale</label>
            <div class="">
                <input placeholder="Codice fiscale" required type="text" data-field="fld_9970286" class=" form-control" id="fld_9970286_1" name="fld_9970286" value="" data-type="text" aria-required="true" aria-labelledby="fld_9970286Label">
            </div>
        </div>
        <div data-field-wrapper="fld_6009157" class="form-group" id="fld_6009157_1-wrap">
            <label id="fld_6009157Label" for="fld_6009157_1" class="control-label screen-reader-text sr-only">Email</label>
            <div class="">
                <input placeholder="Email" required type="email" data-field="fld_6009157" class=" form-control" id="fld_6009157_1" name="fld_6009157" value="" data-type="email" aria-required="true" aria-labelledby="fld_6009157Label">
            </div>
        </div>
        <div data-field-wrapper="fld_1675122" class="form-group" id="fld_1675122_1-wrap">
            <label id="fld_1675122Label" for="fld_1675122_1" class="control-label screen-reader-text sr-only">Contatto telefonico</label>
            <div class="">
                <input placeholder="Contatto telefonico" data-inputmask="'mask': '+99 99 999 9999'" type="phone" data-field="fld_1675122" class=" form-control" id="fld_1675122_1" name="fld_1675122" value="" data-type="phone" aria-labelledby="fld_1675122Label">
            </div>
        </div>
    </div>
</div><div id="CF5cb09c92502c0_1-row-2" class="row ">
    <div class="col-sm-12  single">
        <div data-field-wrapper="fld_7683514" class="form-group" id="fld_7683514_1-wrap">
            <label id="fld_7683514Label" for="fld_7683514_1" class="control-label screen-reader-text sr-only">Messaggio</label>
            <div class="">
                <textarea name="fld_7683514" value="" data-field="fld_7683514" class="form-control" id="fld_7683514_1" rows="7" placeholder="Messaggio" required="required" aria-labelledby="fld_7683514Label"></textarea>
            </div>
        </div>
        <div data-field-wrapper="fld_9275915" class="form-group" id="fld_9275915_1-wrap">
            <label id="fld_9275915Label" for="fld_9275915_1" class="control-label screen-reader-text sr-only">Accettazione Privacy</label>
            <div class="">
                <div class="checkbox">

                    <label for="fld_9275915_1_opt1808311">
                        <input data-parsley-required="true" data-parsley-group="fld_9275915_1" data-parsley-multiple="fld_9275915_1" type="checkbox"
                               data-label="Accettazione &lt;a target=&quot;_blank&quot; href=&quot;https://www.enpaia.it/privacy-policy/&quot;&gt;Privacy&lt;/a&gt;"
                               data-field="fld_9275915"
                               id="fld_9275915_1_opt1808311"
                               class="fld_9275915_1 option-required"
                               name="fld_9275915[opt1808311]"
                               value="Accettazione &lt;a target=&quot;_blank&quot; href=&quot;https://www.enpaia.it/privacy-policy/&quot;&gt;Privacy&lt;/a&gt;"
                               data-type="checkbox"
                               data-checkbox-field="fld_9275915_1"
                               data-calc-value="Accettazione Privacy">
                        Accettazione <a target="_blank" href="https://www.enpaia.it/privacy-policy/">Privacy</a>
                    </label>

                </div>
            </div>
        </div>
    </div>
</div><div id="CF5cb09c92502c0_1-row-3" class="row  last_row">
    <div class="col-sm-12  single">
        <div data-field-wrapper="fld_7908577" class="form-group" id="fld_7908577_1-wrap">
            <div class="">
                <input class="btn btn-default" type="submit" name="fld_7908577" id="fld_7908577_1" value="Invia" data-field="fld_7908577">
            </div>
        </div>
        <input class="button_trigger_1" type="hidden" name="fld_7908577" id="fld_7908577_1_btn" value="" data-field="fld_7908577" />
    </div>
</div>

