
@{
    ViewBag.Title = "ListaRAL";
    Layout = "~/Views/Shared/_AmministrativoLayout.cshtml";
}

<h2>ListaRAL</h2>

<div class="card">
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="background:#0c773c;color:white;text-align:center;vertical-align:middle">ID</th>
                    <th style="background:#0c773c;color:white;text-align:center;vertical-align:middle">Nome azienda</th>
                    <th style="background:#0c773c;color:white;text-align:center;vertical-align:middle">Data Inizio</th>
                    <th style="background:#0c773c;color:white;text-align:center;vertical-align:middle">Data Cessazione</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>1234</td>
                    <td>Franco Luigi</td>
                    <td>03/05/2016</td>
                    <td>03/05/2017</td>
                    <td><button>Liquida</button></td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Giacomino Panevino</td>
                    <td>03/05/2016</td>
                    <td>03/05/2017</td>
                    <td><button>Liquida</button></td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Cosimo D'Avena</td>
                    <td>03/05/2016</td>
                    <td>03/05/2017</td>
                    <td><button>Liquida</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>