
@{
    ViewBag.Title = "ListaUtenti";
    Layout = "~/Views/Shared/_AmministrativoLayout.cshtml";
}

<style>
    .table thead th {
        background: #0c773c;
        color: white;
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="card">
    <div class="card-body">
        <h3>Lista Utenti</h3>
        <table id="tblRDL" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Nominativo</th>
                    <th>Codice Fiscale</th>
                    <th>Data Nascita</th>
                    <th>Sesso</th>
                    <th>Comune</th>
                    <th>Provincia</th>
                    <th>Stato Estero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>1234</td>
                    <td>Marco Nisticò</td>
                    <td>RSSMRA71E05H501Q</td>
                    <td>03/05/2000</td>
                    <td>M</td>
                    <td>Roma</td>
                    <td>RM</td>
                    <td>Italia</td>

                    <td><a type="button" style="color:black;background-color:lightgray" class="btn" href='@Url.Action("Anagrafica", "Home")' /> Dettaglio</td>

                </tr>
                <tr>
                    <td>1235</td>
                    <td>Davide Lizzeri</td>
                    <td>RSSMRA71E05H501Q</td>
                    <td>03/05/2000</td>
                    <td>M</td>
                    <td>Roma</td>
                    <td>RM</td>
                    <td>Italia</td>

                    <td><a type="button" style="color:black;background-color:lightgray" class="btn" href='@Url.Action("Anagrafica", "Home")' />Dettaglio</td>

                </tr>
                <tr>
                    <td>1236</td>
                    <td>Francesco Guarracino</td>
                    <td>RSSMRA71E05H501Q</td>
                    <td>03/05/2000</td>
                    <td>M</td>
                    <td>Roma</td>
                    <td>RM</td>
                    <td>Italia</td>

                    <td><a type="button" style="color:black;background-color:lightgray" class="btn" href='@Url.Action("Anagrafica", "Home")' /> Dettaglio</td>
                </tr>
                <tr>
                    <td>1237</td>
                    <td>Lanfranco Romei</td>
                    <td>RSSMRA71E05H501Q</td>
                    <td>03/05/2000</td>
                    <td>M</td>
                    <td>Roma</td>
                    <td>RM</td>
                    <td>Italia</td>

                    <td><a type="button" style="color:black;background-color:lightgray" class="btn" href='@Url.Action("Anagrafica", "Home")' /> Dettaglio</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


